body{
    font-family: cursive;
    margin: 0;
    background-color: #FFACA6;
}

.navbar{
    background-color: white;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    margin-bottom: 0;
}

.navbar div{
    display: inline;
}

#firstname, #lastname{
    color: orange;
}

#secondname{
    color: white;
}

.navbar ul{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    vertical-align: middle;
}

.navbar ul a{
    text-decoration: none;
    color: #343A40;
    font-size: 1rem;
    display: block;
    width: 60%;
    text-align: center;
    margin: 0;
    padding: 14px 16px;
}

.navbar ul li{
    float: left;
    border-right: 2px solid orange;
} 

.navbar ul li:last-child{
    border-right: none;
}

.navbar ul li a:hover{
    color: orange;
}

#logo{
    display: inline-block;
    vertical-align: middle;
    margin-right: 2rem;
    padding: 0 2rem;
    background-color: #343A40;
    -webkit-box-shadow: 7px 0px 13px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 7px 0px 13px 0px rgba(0,0,0,0.46);
    box-shadow: 7px 0px 13px 0px rgba(0,0,0,0.46);
}

.container{
    background-color: black;
    background-image: url(../img/Web%20Sitem%20Background.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Casus Arka Plan */
    background-size: 1280px 720px;
    font-size: 20px;
    display: grid;
    padding: 5px 20px;
    color: darkseagreen;
}

footer{
    background-color: #343A40;
    display: grid;
    color: white;
    text-align: center; 
    padding: 10px 0;
    overflow: hidden;
}

footer #copyright{
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    font-style: italic;
}

.social-bar{
    overflow: hidden;
    text-align: center;
    display: inline-block;
}

.social-icon{
    font-size: 30px;
    vertical-align: middle;
    display: inline-grid;
    margin-right: 5px;
}

.social-bar a{
    text-decoration: none;
    color: white;
}

.text{
    margin: 1rem;
    border: 2px solid white;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgba(0,0,0,0.5);
    color: darkgrey;
    text-align: center;
}

.text:hover{
    background-color: rgba(255,255,255,0.9);
    color: black;
    border: 2px solid black;
}

.title {
    color: white;
    text-align: center;
    text-transform: uppercase;
}