body{
    font-family: sans-serif;
    margin: 0;
    background-color: black;
}

.navbar{
    background-color: white;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    margin-bottom: 0;
}

.navbar div{
    display: inline;
}

#firstname, #lastname{
    color: orange;
}

#secondname{
    color: white;
}

.navbar ul{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    vertical-align: middle;
}

.navbar ul a{
    text-decoration: none;
    color: #343A40;
    font-size: 1rem;
    display: block;
    width: 60%;
    text-align: center;
    margin: 0;
    padding: 14px 16px;
}

.navbar ul li{
    float: left;
    border-right: 2px solid orange;
} 

.navbar ul li:last-child{
    border-right: none;
}

.navbar ul li a:hover, .navbar .active{
    color: orange !important;
}

#logo{
    display: inline-block;
    vertical-align: middle;
    margin-right: 2rem;
    padding: 0 2rem;
    background-color: #343A40;
}

.container{
    background-color: black;
    background-image: url(../img/Web%20Sitem%20Background.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Casus Arka Plan */
    background-size: 1280px 720px;
    font-size: 20px;
    display: grid;
    padding: 5px 20px;
    max-width: 100%;
}

footer{
    background-color: #343A40;
    display: grid;
    color: white;
    text-align: center; 
    padding: 10px 0;
    overflow: hidden;
}

footer #copyright{
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    font-style: italic;
}

.social-bar{
    overflow: hidden;
    text-align: center;
    display: inline-block;
}

.social-icon{
    font-size: 30px;
    vertical-align: middle;
    display: inline-grid;
    margin-right: 5px;
}

.social-bar a{
    text-decoration: none;
    color: white;
}

.text{
    margin: 1rem;
    border: 2px solid white;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgba(0,0,0,0.5);
    color: darkgrey;
    text-align: center;
}

.text:hover{
    background-color: rgba(255,255,255,0.9);
    color: black;
    border: 2px solid black;
}

.img{
    opacity: 0.8;
    text-align: center;
    z-index: -1;
}

.img img{
    max-width: 200px;
    width: 35%;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 12rem;
    display: inline;
    animation-name: showImg;
    animation-duration: 5s;
}

.title h2{
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.info-text{
    width: 50%;
}

.content{
    display: grid;
    max-width: 100%;
}

quote{
    display: block;
    border: 1px solid;
    border-radius: 1rem;
    padding: 0.7rem;
    margin: 1rem;
    font-style: italic;
    font-weight: bolder;
}
.quote-author{
    text-align: right;
    display: block;
    font-style: normal;
}

.row{
    display: flex;
    margin: 0 auto;
}

@keyframes showImg {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.8;
    }
}

@media all and (max-width: 540px) {
    .navbar{
        position: static;
    }
    
    #logo{
        text-align: center;
        font-size: 58px;
        padding: 0;
        float: none;
        width: 100%;
    }
    
    .navbar div{
        font-size: -webkit-xxx-large;
    }
    
    .navbar ul a{
        display: block;
        text-align: left;
        font-size: 40%;
        width: 100%;
    }
    
    .navbar ul li{
        float: none;
        border: none;
    }
    
    h1{
        font-size: 50%;
    }
    
    #original{
        width: 50%;
        float: none !important;
        margin: 10px !important;
    }
    
    #fake{
        display: none;
    }
    
    #column-left { 
        display: none;
    }
    
    .row{
        display: block;
    }
    
    .info-text{
        width: 80%;
    }
    /*
    .about{
        width: 116%;
    }
    */
}